.fh1 {
    color:#261D56;
}
.fotoo {
    width: 66px;
    height: 66px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.big {
    width: 950px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.card {
    padding: 5px;
    display: flex;
    box-shadow: 0px 0px 20px grey;
    border-radius: 10px;
}
.b1 {
    margin-top: -1px;
}
.b2 {
    margin-top: -15px;
}
strong {
    margin-top: -50px;
}
